*{
  box-sizing: border-box;
}

body{
  margin: 0 auto;
  border: 4px solid #3366ff;
}

main{
  display: flex;
  flex-flow: column nowrap;
}
/* buttons */

a {
  text-decoration: none;
  padding: 10px 30px;
  font-size: 1.5em;
  font-family: Lekton;
  
  margin: 50px 20px 0 20px;
  
  background-color: transparent;
  display: inline-block;
  
  color: #3366ff;
}

/* buttons animation */

.menu_link{
  transition-property: transform;
  transition: all .1s ease-in-out;
}

.menu_link:hover{
  color: white;
  transform: translateY(-7px);
}

/* other button and link styles */
a:hover{
  color: white;
}
.contact,
.about,
.view_portfolio{
  box-shadow: 2px 2px #3366ff;
  border: 2px dotted #3366ff;
}
.contact:hover{
  color: #ff02ff;
  background-color: #00ccfe;
  border-color: #00ccfe;
  border: dotted;
  box-shadow: 2px 2px #ff02ff;
}
.about:hover{
  color: #00ccfe;
  background-color: #f9ee5a;
  border-color: #f9ee5a;
  border: dotted;
  box-shadow: 2px 2px #00ccfe;
}
.view_portfolio:hover{
  color: #f9ee5a;
  background-color: #ff02ff;
  border-color: #ff02ff;
  border: dotted;
  box-shadow: 2px 2px #f9ee5a;
}

header{
  display: flex;
}

.top_dest{
  margin: 0;
  transition: all .1s ease-in-out;
}

 a.top_dest{
  padding: 0 5px 0 5px;
  
}

.top_dest:hover{
  background-color: #f9ee5a;
  transform: translateY(5px);
  box-shadow: 2px 2px #ff02ff;
}
.email{
  margin: 0;
  background-color: #ff02ff;
  text-decoration: none;
  color: white;
  
  font-size: 1.5em;
  padding: 20px;
  box-shadow: 2px 2px white;
  
  transition: all .1s ease-in-out;
}

.email:hover{
  color: #ff02ff;
  background-color: #f9ee5a;
  transform: translateY(-10px);
  border: 2px dotted white;
}

.project_title_link{
  border: none;
  text-decoration: none;
}

header {
  padding: 15px;
}

.arrow a{
  border: none;
  transition: all .2s ease-in-out;
}

.go_up{
  position: fixed;
  border: 1px solid #3366ff;
  top: 50%;
  
  transition: all .1s ease-in-out;
  z-index: 1;
}

a.go_up{
  padding: 0;
}

.go_up:hover{
  border: 1px dotted #3366ff;
  background-color: #f9ee5a;
  
  transform: translateY(-5px);
  box-shadow: 2px 2px #ff02ff;
}

/* arrow link effect */

.arrow a:hover{
  color: white;
  transform: translateY(10px);
  background-color: chartreuse;
  box-shadow: 2px 2px #3366ff;
}

.view_ptt {
  color: #ff02ff;
  text-decoration: none;
  text-align: center;
  font-size: 1em;
  border: 2px dotted chartreuse;
}

.view_ptt:hover{
  background-color: #3366ff;
}

/* typography */

p {
  font-family: Lekton;
  line-height: 2em;
}

.quote{
  color: white;
  margin: 10px;
}
.intro_text{
  font-family: "Cedarville Cursive";
  font-weight: 100;
  font-size: 4em;
  color: #3366ff;
  line-height: 1;
  
  transition-property: transform;
}

.intro_text:hover{
  transform: skewY(-20deg);
}

h3{
  font-family:"Cedarville Cursive";
  font-size: 3em;
  color: #ff02ff;
  margin: 0;
  
  transition-property: transform;
}

h3:hover{
 transform: skewY(20deg);
}

h2{
  font-family: Lekton;
  margin: 0;
}

.cursive_font{
  font-family: "Cedarville Cursive";
  font-size: 2em;
  margin: 0;
  color: #3366ff;
  text-shadow: 2px 2px #ff02ff;
   
  animation-name: introText;
}

.cursive_font{
  animation-name: introText;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}

@keyframes introText{
  0%{
    color: red;
  }
  50%{
    color: #ff02ff;
  }
  100%{
    color: yellow;
  }
}
.text_cursive{
  font-family: "Cedarville Cursive";
  color: black;
  letter-spacing: 0.2em;
}

.project_title_link{
  text-align: center;
  font-family: "Cedarville Cursive";
  
  color: #3366ff;
  font-weight: 100;
  font-size: 2em;
  
  margin: 0;
  letter-spacing: 0.2em;
  max-width: 500px;
  
  text-shadow: 1px 1px #ff02ff;
  transition: all .2s ease-in-out;
}

.project_title_link:hover{
  color: #f9ee5a;
  transform: scale(1.1);
}

.project_title{
  font-family: "Cedarville Cursive";
  font-size: 2em;
  letter-spacing: 0.2em;
  color: #3366ff;
  
  text-shadow: 1px 1px #ff02ff;
}
.content_text{
  max-width: 38em;
  font-family: Lekton;
  line-height: 2.5em;
  margin: 30px 0 30px 0;
  font-weight: 100;

  font-weight: 100;
  color: #3366ff;
  padding: 10px;
}

.project_sub_title{
  font-family: "Cedarville Cursive";
  color: chartreuse;
  font-weight: 100;
  
  margin-bottom: 100px;
  letter-spacing: 0.2em;
  font-size: 2em;
  
  border-bottom: 4px dotted #f9ee5a;
}

.project_content_text{
  font-family: Lekton;
  line-height: 2em;
  max-width: 38em;
  
  color: #3366ff;
}

.content_sub_title{
  font-family: "Cedarville Cursive";
  font-size: 1.5em;
  color: #3366ff;
}

.footer_title_text{
  font-family: Lekton;
  color: black;
  font-weight: 100;
}

b{
  color: #ff02ff;
}

/* main */

.introduction{
  width: 400px;
  margin: 0 auto;
}

.intro{
  text-align: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.project_detail{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.project_brief{
  max-width: 500px;
  margin: 40px;
}

.full_image_transform{
  max-height: 100vh;
  text-align: center;
  width: 80vw;
  
  animation-name: hoverImage;
  transition-duration: .5s;
}

.full_image_transform:hover{
  transform: translateY(-6px);
  
  animation-name: hoverImage;
  animation-duration: 1s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

@keyframes hoverImage {
	50% {
		transform: translateY(-1px);
	}

	100% {
		transform: translateY(-10px);
	}
}

.full_image{
  max-height: 100vh;
  width: 80vw;
  text-align: center;
}

.project_introduction{
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}

.desc_full_height{
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}

.desc_lower_height{
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  
  padding: 50px 0;
}

.desc_different_style {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  
  padding: 50px 0;
}

.sample_img{
  width: 500px;
  height: auto;
  padding: 0 50px 0 50px;
}
.project_sample_img{
  width: 100%;
}

.project_content,
.project_content_reverse{
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;
}

.content_image_container{
  width: 600px;
  height: auto;
  padding: 40px;
}
.content_image{
  width: 100%
}

.scrolling_image_container{
  height: 500px;
  max-width: 1000px;
  padding: 40px;
  
  overflow: scroll;
}

.scrolling_image{
  width: 100%;
}

@media (max-width: 600px){
  
  .scrolling_image_container{
   
  }
}

footer{
  text-align: center;
  margin-top: 100px;
  background-color: #3366ff;
}

.view_other_project{
  background-color: lightgray;
}

.smaller_image{
  max-width: 1000px;
  height: auto;
}
.content_smaller_image{
  width: 100%;
}

/* about me page */

.abtme_main{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
 
.abtme_intro{
  display: flex;
  flex-flow: row wrap;
  align-content: center;
  justify-content: center;
}

.abtme_content{
  margin-top: 100px;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.abtme_content_image{
  width: 600px;
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.abtme_content_image_intro{
  width: 600px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.abtme_image {
  width: 100%;
  margin-bottom: 20px;
}

.abtme_title{
  text-align: center;
  display: none;
}

@media (max-width: 600px){
  
  .abtme_title{
    display: block;
  }
}
.number_link{
  
  position: relative;
  padding: 15px;
  text-align: center;
  background-color: #00ccfe;

  color: white;
  border: 1px dotted #3366ff;
 
}

.number_link a{
  display: inline-block;
}

.number_link:hover{
  
  color: #3366ff;
  border: 1px dotted #ff02ff;
  background-color: #f9ee5a;
  transform: translateY(-10px);
}

.numbers{ 
  position: fixed;
  top: 0;
  display: flex;
  flex-flow: row wrap;
}

.number_link .tooltip{
    visibility: hidden;
    border-radius: 25px;
    border: 2px solid #00ccfe;
    background-color: #ff02ff;
    padding: 20px; 
    width: 120px;
  
    color: white;
    text-align: center;
    padding: 5px 10px;
    position: absolute;
  
    z-index: 1;
    top: 125%;
    left: 50%;
    margin-left: -60px;
    opacity: 0;
    transition: opacity 0.5s;
  
    font-size: 0.8em;
}

.number_link .tooltip::after {
    content: "";
    position: absolute;
    bottom: 100%;
    left: 50%;
    transform: rotate(180deg);
    margin-left: -5px;
    border-width: 7px;
    border-style: solid;
    border-color: #00ccfe transparent transparent transparent;
}

.number_link:hover .tooltip {
    visibility: visible;
    opacity: 1;
    z-index: 1;
}


.abtme_text{
  font-family: Lekton;
  color: #ff02ff;
  
  max-width: 600px;
  text-align: center;
  line-height: 1.5em;
  margin: 0;
}

.abtme_title_text{
  color: #3366ff;
  letter-spacing: 0.2em;
  text-align: center;
  
  border: 2px dotted white;
  background-color: chartreuse;
}

.abtme_intro_text{
  font-size: 1.5em;
}

.abtme_intro{
  display: flex;
}

@media only screen and (max-width: 600px) {
  
  .desc_lower_height{
    padding: 0;
  }
    
    .project_content {
    width: 100%;
    flex-direction: column;
    }
  
  .content_image_container{
    width: 100%;
    }
  
  .project_content_text{
    margin: 0;
    padding: 10px;
  }
  
  .project_content_reverse{
  display: flex;
  flex-direction: column-reverse;
}

  
  .project_title{
    text-align: center;
  }
 
  .sample_img{
  width: 400px;
  height: auto;
  }
  
  .abtme_content_image{
    width: 100vw;
  }
  
  .abtme_text{
    width: 100vw;
    padding: 10px;
  }
  
  .intro_text,
  h3 {
    font-size: 2em;
    margin: 0;
  }   
  
  .numbers{  
  display: flex;
  align-content: center;
  margin: 20px 10px 0 10px;
}
  h1{
    padding: 0 15px 0 15px;
    text-align: center;
  }
  .number_link{
    margin: 0;
  }
  
  .number_link:hover .tooltip {
    visibility: hidden;
}
}
