*{
  box-sizing: border-box;
}

body{
  margin: 0 auto;
   border: 4px solid #3366ff;
}

main{
  display: flex;
  flex-flow: column nowrap;
}
/* buttons */

button,
a {
  padding: 10px 30px;
  font-size: 1.5em;
  font-family: Lekton;
  
  margin-top: 50px;
  margin-right: 50px;
  
  background-color: white;
  display: inline-block;
  
  color: gray;
}

/* buttons animation */

button{
  transition-property: transform;
  transition: all .1s ease-in-out;
}

button:hover{
  color: white;
  transform: translateY(-7px);
}

/* other button and link styles */
a:hover{
  color: white;
}
.menu_button{
  margin-top: 0;
}

.contact:hover{
  color: #ff02ff;
  background-color: #00ccfe;
  border-color: #00ccfe;
  border: dotted;
}
.about:hover{
  color: #00ccfe;
  background-color: #f9ee5a;
  border-color: #f9ee5a;
  border: dotted;
}
.view_portfolio:hover{
  color: #f9ee5a;
  background-color: #ff02ff;
  border-color: #ff02ff;
  border: dotted;
}

header{
  display: flex;
}

.top_dest{
  margin: 0;
  border: 1px solid white;
  
  transition: all .1s ease-in-out;
}

.top_dest:hover{
  background-color: #f9ee5a;
  transform: translateY(5px);
  box-shadow: 2px 2px #ff02ff;
}
.email{
  margin: 0;
  background-color: transparent;
  text-decoration: none;
  color: white;
  
  font-size: 1.5em;
  padding: 20px;
  box-shadow: 1px 1px white;
  border: 2px solid white;
  
  transition: all .1s ease-in-out;
}

.email:hover{
  color: #ff02ff;
  background-color: #f9ee5a;
  transform: translateY(-10px);
  border: 2px dotted white;
}

.project_title_link{
  border: none;
  text-decoration: none;
}

.arrow{
  margin-top: 10px;
}

.arrow a{
  border: none;
  transition: all .2s ease-in-out;
}

/* arrow link effect */

.arrow a:hover{
  color: white;
  transform: translateY(10px);
  background-color: chartreuse;
  box-shadow: 2px 2px #3366ff;
}

/* typography */

p {
  font-family: Lekton;
  line-height: 2em;
}

.intro_text{
  font-family: "Cedarville Cursive";
  font-weight: 100;
  font-size: 4em;
  color: #3366ff;
  line-height: 1;
  
  transition-property: transform;
}

.intro_text:hover{
  transform: skewY(-20deg);
}

h3{
  font-family:"Cedarville Cursive";
  font-size: 3em;
  color: #ff02ff;
  margin: 0;
  
  transition-property: transform;
}

h3:hover{
 transform: skewY(20deg);
}

h2{
  font-family: Lekton;
  margin: 0;
}

.cursive_font{
  font-family: "Cedarville Cursive";
  font-size: 2em;
  margin: 0;
  color: #3366ff;
  text-shadow: 2px 2px #ff02ff;
   
  animation-name: introText;
}

.cursive_font{
  animation-name: introText;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}

@keyframes introText{
  0%{
    color: red;
  }
  50%{
    color: #ff02ff;
  }
  100%{
    color: yellow;
  }
}
.text_cursive{
  font-family: "Cedarville Cursive";
  color: black;
  letter-spacing: 0.2em;
}

.project_title_link{
  text-align: center;
  font-family: "Cedarville Cursive";
  
  color: #3366ff;
  font-weight: 100;
  font-size: 2em;
  
  margin: 0;
  letter-spacing: 0.2em;
  max-width: 500px;
  
  text-shadow: 1px 1px #ff02ff;
  transition: all .2s ease-in-out;
}

.project_title_link:hover{
  color: #f9ee5a;
  transform: scale(1.1);
}

.project_title{
  font-family: "Cedarville Cursive";
  font-size: 2em;
  letter-spacing: 0.2em;
  color: #3366ff;
}
.content_text{
  max-width: 38em;
  font-family: Lekton;
  line-height: 2.5em;
  margin: 50px 0 50px 0;
  font-weight: 100;

  font-weight: 100;
}

.project_sub_title{
  font-family: "Cedarville Cursive";
  color: #3366ff;
  font-weight: 100;
  
  margin-bottom: 100px;
  letter-spacing: 0.2em;
}

.project_content_text{
  font-family: Lekton;
  margin: 150px;
  max-width: 400px;
  line-height: 2em;
}

.content_sub_title{
  font-family: "Cedarville Cursive";
  font-size: 1.5em;
  color: #3366ff;
}

.footer_title_text{
  font-family: Lekton;
  color: black;
  font-weight: 100;
}
/* main */

.introduction{
  width: 400px;
  margin: 0 auto;
}

.intro{
  text-align: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.project_detail{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.project_brief{
  max-width: 500px;
  margin: 40px;
}

.full_image{
  max-height: 100vh;
  max-width: 100%;
  text-align: center;
}

.project_introduction{
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}

.desc_full_height{
  min-height: 80vh;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}

.desc_lower_height{
  min-height: 70vh;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}

.project_sample_img{
  max-height: 400px;
  align-self: center;
}

.project_content{
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;
}

.content_image{
  width: 600px;
}

footer{
  text-align: center;
  margin-top: 100px;
  background-color: #3366ff;
}

.view_other_project{
  background-color: lightgray;
}

