*{
  box-sizing: border-box;
}

body{
  margin: 0 auto;
   border: 4px solid #95E189;
}

.intro{
  text-align: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

main{
  display: flex;
  flex-flow: column nowrap;
}
/* buttons */

button,
a {
  padding: 10px 30px;
  border-radius: 6px;
  
  color: black;
  font-size: 1em;
  font-family: Lekton;
  
  margin-top: 50px;
  margin-right: 50px;
  border: none;
  
  background-color: white;
  display: inline-block;
}


button:hover{
  color: white;
}

a:hover{
  color: white;
}
.menu_button{
  margin-top: 50px;
}

.contact:hover{
  color: #95E189;
  text-decoration: underline;
}
.about:hover{
  color: #006DD6;
  text-decoration: underline;
}
.view_portfolio:hover{
  color: #C95EBE;
  text-decoration: underline;
}

.home{
  font-family: "Cedarville Cursive";
  font-size: 1.5em;
  border: none;
  background-color: #95E189;
  margin: 0;
  border-radius: 0;
  color: white;
}
.home:hover{
  color: limegreen;
}

.email{
  margin: 0;
  background-color: #FFEC69;
  border-color: #FFEC69;
}

.email:hover{
  background-color: white;
  border-color: #FFEC69;
  color: black;
}

.project_title_link{
  border: none;
  text-decoration: none;
}
/* typography */

p {
  font-family: Lekton;
  line-height: 2em;
}

.intro_text{
  font-family: "Cedarville Cursive";
  font-weight: 100;
  font-size: 3em;
  margin: 0;
  color: #95E189;
}

h3,
h2{
  font-family: Lekton;
  margin: 0;
}

.cursive_font{
  font-family: "Cedarville Cursive";
  font-size: 2em;
  margin: 0;
  color: black;
}
.text_cursive{
  font-family: "Cedarville Cursive";
  color: black;
  letter-spacing: 0.2em;
}

.project_title_link{
  text-align: center;
  font-family: "Cedarville Cursive";
  
  color: black;
  font-weight: 100;
  font-size: 2em;
  
  margin: 0;
  letter-spacing: 0.2em;
  max-width: 500px;
}

.project_title_link:hover{
  color: #95E189;
}

.content_text{
  max-width: 38em;
  font-family: Lekton;
  line-height: 2.5em;
  margin: 50px 0 50px 0;
  font-weight: 100;

  font-weight: 100;
}

.project_sub_title{
  font-family: "Cedarville Cursive";
  color: #95E189;
  font-weight: 100;
  
  margin-bottom: 100px;
  letter-spacing: 0.2em;
}

.project_content_text{
  font-family: Lekton;
  margin: 150px;
  max-width: 400px;
  line-height: 2em;
}

.content_sub_title{
  font-family: "Cedarville Cursive";
  font-size: 1.5em;
  color: #95E189;
}

.footer_title{
  font-family: Lekton;
  color: white;
}
/* main */

.project_detail{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.project_brief{
  max-width: 500px;
  margin: 40px;
}

.full_image{
  max-height: 100vh;
  max-width: 100%;
  text-align: center;
}

.project_introduction{
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}

.desc_full_height{
  min-height: 80vh;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}

.desc_lower_height{
  min-height: 70vh;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}

.project_sample_img{
  max-height: 400px;
  align-self: center;
}

.project_content{
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;
}

.content_image{
  width: 600px;
}

footer{
  text-align: center;
  margin-top: 100px;
  background-color: #95E189;
}

.footer_detail{
 
}